* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    flex-grow: 1;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}